<!DOCTYPE html>
<html>
<head>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/angular-messages.min.js"></script>
    <script src="../PlannITI.js"></script>
    <script src="../Model/ModelBase.js"></script>
    <script src="../ViewModel/MVRoom.js"></script>
    <script src="../ViewModel/MVTeacher.js"></script>
    <script src="../ViewModel/MVPeriod.js"></script>
    <script src="../ViewModel/MVPromotion.js"></script>
    <script src="../ViewModel/MVMaterial.js"></script>
    <script src="../ViewModel/MVSlot.js"></script>

    <title>Plann'ITI</title>
</head>
<body ng-app ="plann">

    <h1>Plann'ITI</h1>
    <a href='#/'>Accueil</a>
    <a href='#/teachers'>Profs</a>
    <a href='#/rooms'>Salles</a>
    <a href='#/periods'>Périodes</a>
    <a href='#/promotions'>Promotions</a>
    <a href='#/subjects'>Matières</a>
    <a href='#/slots'>Créneaux</a>
    <div ng-view></div>
</body>
</html>
