<!DOCTYPE html>
<html ng-app="plannITI">
<head>
    <script src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
    <script src="../PlannITI.js"></script>
    <script src="../Model/MRooms.js"></script>
    <script src="../Model/MTeacher.js"></script>
    <script src="../ViewModel/MVRooms.js"></script>
    <script src="../ViewModel/MVTeacher.js"></script>

    <title>Plann'ITI</title>
</head>
<body>

    <h1>Plann'ITI</h1>
    <a href='#/index'>Accueil</a>
    <a href='#/teachers'>Profs</a>
    <div ng-view></div>
</body>
</html>
