<div ng-app="periodsController">
    <!--formulaire d’édition d’une salle-->
    <form name="periodsForm" ng-controller="FormVMPeriods" ng-submit="addPeriod()" novalidate>

        <div>
            <label>Nom/Code</label>
            <input name="periodName" type="text" ng-model="periodSetting.currentPeriod.periodName" size="30" required />
            <span ng-if="periodsForm.$submitted" ng-messages="periodsForm.periodName.$error" ng-messages-include="errors.html"></span>
        </div>
                
        <div>
            <label>Date de début</label>
            <input name="periodBeginDate" type="date" ng-model="periodSetting.currentPeriod.periodBeginDate" size="30" required />
            <span ng-if="periodsForm.$submitted" ng-messages="periodsForm.periodBeginDate.$error" ng-messages-include="errors.html"></span>
        </div>

        <div>
            <label>Date de fin</label>
            <input name="periodEndDate" type="date" ng-model="periodSetting.currentPeriod.periodEndDate" size="30" required />
            <span ng-if="periodsForm.$submitted" ng-messages="periodsForm.periodEndDate.$error" ng-messages-include="errors.html"></span>
        </div>

        <input type="submit" value="Ajouter" />
    </form>

        <!--liste des salles-->
        <div ng-controller="ListVMPeriods">
            <ul>
                <li ng-repeat="period in periodSetting.periods" ng-show="!$last">
                    <span ng-click="editPeriod(period)">{{period.periodName}} </span>
                    <span ng-click="editPeriod(period)">{{period.periodCapacity}} </span>
                    <span ng-click="deletePeriod(period)"> X </span>
                    <!--<form ng-submit="addHolidayToPeriod(period)">
                        <input type="submit" value="add new holiday" />
                        <input type="date" />
                        <input type="date" />
                    </form>-->
                </li>
            </ul>
        </div>
</div>
