<div ng-app="roomsController">
    <!--formulaire d’édition d’une salle-->
    <form name="roomForm" ng-controller="FormVMRooms" ng-submit="addRoom()" novalidate>

        <div>
            <label>Nom</label>
            <input name="roomName" type="text" ng-model="roomSetting.currentRoom.roomName" size="30" required />
            <span ng-if="roomForm.$submitted" ng-messages="roomForm.roomName.$error" ng-messages-include="errors.html"></span>
        </div>

        <div>
            <label>Capacité</label>
            <input name="roomCapacity" type="number" ng-model="roomSetting.currentRoom.roomCapacity" size="30" required />
            <span ng-if="roomForm.$submitted" ng-messages="roomForm.roomCapacity.$error" ng-messages-include="errors.html"></span>
        </div>

        <input type="submit" value="Ajouter" />
    </form>

    <!--liste des salles-->
    <div ng-controller="ListVMRooms">
        <ul>
            <li ng-repeat="room in roomSetting.rooms" ng-show="!$last">
                <span ng-click="editRoom(room)">{{room.roomName}}</span>
                <span ng-click="editRoom(room)"> {{room.roomCapacity}} </span>
                <span ng-click="deleteRoom(room)"> X </span>
            </li>
        </ul>
    </div>
</div>