<div ng-app="slotsController">
    <!--formulaire d’édition d’une salle-->
        <form name="slotsForm" ng-controller="FormVMSlots" ng-submit="addSlot()" novalidate>


            <div>
                <label>Salle</label>

                <select name="slotRoom" ng-model="slotSetting.currentSlot.slotRoom" ng-options="room.roomName for room in savedRooms
                    | filter: isRoomDefined" required>
                    <option value="">Selectionnez une salle</option>
                </select>
                <span ng-if="slotRoom.$submitted" ng-messages="slotsForm.slotRoom.$error" ng-messages-include="errors.html"></span>
            </div>

            <div>
                <label>Matière</label>

                <select name="slotSubject" ng-model="slotSetting.currentSlot.slotMaterial" ng-options="subject.subjectName for subject in savedSubjects
                    | filter: isSubjectDefined" required>
                    <option value="">Selectionnez une matière</option>
                </select>
                <span ng-if="slotsForm.$submitted" ng-messages="slotsForm.slotSubject.$error" ng-messages-include="errors.html"></span>
            </div>

            <div>
                <label>Date</label>
                <input name="slotDate" type="date" ng-model="slotSetting.currentSlot.slotDate" size="30" required />
                <span ng-if="slotsForm.$submitted" ng-messages="slotsForm.slotDate.$error" ng-messages-include="errors.html"></span>
            </div>

            <div>
                <label>Moment</label>
                <select ng-model="slotSetting.currentSlot.slotMoment" name="slotsMoment" required>
                    <option>Matin</option>
                    <option>Après-midi</option>
                </select>
            </div>

            <input type="submit" value="add new slot" />
        </form>

    <!--liste des salles-->
    <div ng-controller="ListVMSlots">
        <ul>
            <li ng-repeat="slot in slotSetting.slots" ng-show="!$last">
                <span ng-click="editSlot(slot)">{{slot.slotRoom}}</span>
                <span ng-click="editSlot(slot)">{{slot.slotMaterial}} </span>
                <span ng-click="editSlot(slot)">{{slot.slotDate}} </span>
                <span ng-click="editSlot(slot)">{{slot.slotMoment}}</span>
                <span ng-click="deleteSlot(slot)"> X </span>
            </li>
        </ul>
    </div>
</div>

